footer {
  width: 100%;
  background-color: #333333;
  color: #ffffff;
  display: grid;
  justify-items: center;
  align-items: center;
  height: 3rem;
  padding: 0.5rem;
}

.copyright {
  text-align: center;
}
