main.hero {
  height: 70vh;
  width: 100%;
  background: #333333
    url("https://cdn.pixabay.com/photo/2017/07/20/14/50/a-bear-2522509_960_720.jpg")
    no-repeat center center/cover;
}

.hero-title {
  font-size: 3rem;
  padding: 10rem 0 0 5rem;
}

.hero-text {
  font-size: 2rem;
  padding: 2rem 0 0 5rem;
}
