main.hero {
  position: relative;
  height: 90vh;
  width: 100%;
  background: #ffffff
    url("https://images.unsplash.com/photo-1468476775582-6bede20f356f?ixlib=rb-1.2.1&ixid=MXwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHw%3D&auto=format&fit=crop&w=1666&q=80")
    no-repeat bottom center/cover;
}

.hero-title {
  position: relative;
  top: 40%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  font-size: 6rem;
  text-transform: uppercase;
  letter-spacing: 1rem;
  padding-bottom: 2rem;
  font-family: "Big Shoulders Stencil Display", cursive;
}

.hero-text {
  position: relative;
  text-align: center;
  font-size: 2rem;
  padding-top: 8rem;
  font-family: "Big Shoulders Stencil Display", cursive;
}
